@model IEnumerable<DentalClaims.Models.Appointment>

<h1>Consultas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Paciente</th>
            <th>Data</th>
            <th>Procedimento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.NomePaciente</td>
                <td>@appointment.Data.ToShortDateString()</td>
                <td>@appointment.Procedimento</td>
                <td>
    <a asp-action="Edit" asp-route-id="@appointment.Id" class="btn btn-primary" style="display: inline-block; margin-right: 5px;">Editar</a>
    <form asp-action="DeleteConfirmed" method="post" style="display: inline-block;">
        <input type="hidden" name="id" value="@appointment.Id" />
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
</td>


            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Nova Consulta</a>
